@{
    ViewData["Title"] = "Reset Password";
}

<!--====== Breadcrumb Part Start ======-->

<div class="breadcrumb-area">
    <div class="container-fluid custom-container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Home</a></li>
                <li class="breadcrumb-item active">Password Recovery</li>
            </ol>
        </nav>
    </div> <!-- container -->
</div>

<section class="login-area pt-10">
    <div class="container-fluid custom-container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="login-register-wrapper mt-30">
                    <h4 class="allup-title">Your password have been successfully recovered</h4>
                    <a asp-controller="account" asp-action="login">Click here to log in</a>
                    
                </div>
            </div>
        </div>
    </div>
</section>
